[submodule "winetricks"]
	path = winetricks
	url = https://github.com/Winetricks/winetricks.git
	branch = master

[submodule "msvc-wine"]
	path = msvc-wine
	url = https://github.com/sweptlaser/msvc-wine.git
	branch = master
